extends layout/default

block content
  h1 CSS grid
  .l-wrap
    .box
      | grid
    .box
      | grid
    .box
      | grid
    .box
      | grid
    .box
      | grid
    .box
      | grid
    .box
      | grid
    .box
      | grid
    .box
      | grid
    .box
      | grid
    .box
      | grid
    .box
      | grid
    .grid-items.main
      | main
    .grid-items.sidebar
      | sidebar
  // .l-wrap
  footer.footer
    p footer
  // .footer
